.landing-page {
  background-image: url('../img/beerglass.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-color: #000000;
  width: 400px;
  text-align: center;
  margin: auto;
  max-height: 640px;
}

.bar-button {
  position: absolute;
  width: 305px;
  left: 57px;
  top: 50px;
}

.button-opacity {
  opacity: 0.6;
}

.beerme-white {
  position: absolute;
  top: 20px;
  left: 50px;
}

.find-beer {
  top: -30px;
  left: 30px;
  position: absolute;
  font-weight: bold;
  color: black;
  font-family: Roboto;
  background: rgba(255,177,0,0.4);
  margin-top: 290px;
  padding-left: 20px;
  padding-right: 20px;
}

.zipcode-beer {
  top: 40px;
  left: 30px;
  position: absolute;
  font-weight: bold;
  color: black;
  font-family: Roboto;
  background: rgba(255,255,255,0.4);
  margin-top: 290px;
  padding-left: 20px;
  padding-right: 20px;
}

.roboto-font {
  font-family: Roboto;
}

.oswald-font {
  font-family: Oswald;
}

.pane {
  background: #A4A4A4;
}

.bottom-border {
  border-width: 1px;
  border-color: #A4A4A4;
}

.beer-search-box {
  padding: 0;
  height: 30px;
  border-radius: 32px;
  margin-bottom: 5px;
}

.keep-tabs-bottom {
  bottom: 0;
}

.tab-nav {
  bottom: 0;
}

