      <ion-view view-title='<img src="http://i.imgur.com/ivXdRk4.png">  <img src="http://i.imgur.com/syjOJN2.png">'>
        <ion-nav-bar class="bar-energized">
        </ion-nav-bar>

        <ion-nav-buttons side="left">
          <a ui-sref='beers' class="button button-icon icon ion-arrow-left-a"></a>
        </ion-nav-buttons> 

        <ion-nav-buttons side="right">
          <a ui-sref='about' class="button button-icon icon ion-information-circled"></a>
        </ion-nav-buttons> 

        <ion-content>
          <div class="card">
            <div class="item item-divider item-icon-left">
              <i class="icon ion-information-circled"></i>
              <b>About the App</b>
            </div>
            <div class="item item-text-wrap">
              <p><b>Beer-Me!</b> is an app designed to help the discerning beer connoisseur find rare and interesting beers.</p>

              <p>Small-production craft brews and microbrews are often only available at a few restaurants or bars. They are unpredictable to source and find. This app helps you discover what unusual beers are on tap in your neighborhood.
              Simply press the "Beer-Me!" button to see a list of the rarest beers nearby.</p>

              <p>Try a new beer today! It might be your next favorite.</p>
            </div>
          </div>
          <div class="card">
            <div class="item item-divider item-icon-left">
              <i class="icon ion-person-stalker"></i>
              <b>Meet the Team</b>
            </div>
            <div class="item item-text-wrap">
              <p><b>Tina Doyle</b>- Team Lead & Deployment</p><br>
              <p><b>David Kim</b>- Front-end Mobile Design</p><br>
              <p><b>Stephen Clem</b>- Back-end Data Scraping</p><br>
              <p><b>Sean Marman</b>- Back-end Data Sanitization</p><br>

            </div>
          </div>
        </ion-content>
      </ion-view>




