      <ion-view view-title='<img src="http://i.imgur.com/ivXdRk4.png">  <img src="http://i.imgur.com/syjOJN2.png">'>
        <ion-nav-bar class="bar-energized">
          <ion-nav-back-button>
          </ion-nav-back-button>
          <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-information-circled"></a>
          </ion-nav-buttons> 
        </ion-nav-bar>

        <ion-content class="padding">
          <div class="card">
            <div class="item item-divider item-icon-left">
              <i class="icon ion-person"></i>
              <b>About The Dev Team</b>
            </div>
            <div class="item item-text-wrap">
              This app was created by four students in Dev Bootcamp for the purpose to create something beautiful and meaningful. 
            </div>
          </div>
        </ion-content>
      </ion-view>




