      
      <ion-view view-title='<img src="http://i.imgur.com/ivXdRk4.png">  <img src="http://i.imgur.com/syjOJN2.png">'>
        <ion-nav-bar class="bar-energized">
        </ion-nav-bar>

        <ion-nav-buttons side="left">
          <a ui-sref='beers' class="button button-icon icon ion-arrow-left-a"></a>
        </ion-nav-buttons> 

        <ion-nav-buttons side="right">
          <a ui-sref='about' class="button button-icon icon ion-information-circled"></a>
        </ion-nav-buttons> 
        
        <ion-content>
          <div class="list card">
            <div class="item item-thumbnail-left">
              <img src="{{beerObject.image}}">
              <h2 class="roboto-font"><b>{{beerObject.name}}</b></h2>
              <img src="{{ratingPic}}">
              <h3 class="roboto-font">{{beerObject.price}}</h3>
              <h3 class="roboto-font">{{beerObject.abv}}</h3>
            </div>

            <div class="item item-body">
              <div class="item item-text-wrap">
                <h2><b>Description:</b></h2>
                <h4>{{beerObject.description}}</h4>
                <a href="http://maps.google.com/maps?saddr=brighton&daddr=timbuktu" target="_blank">show route</a>
              </div>
            </div>

          <ion-list>
            <div class="item item-divider beer-list-title">
              <b class="roboto-font">Served at:</b>
            </div>
            <ion-item ng-repeat="bar in beerBars" class="item item-button-right" href="http://maps.google.com?q={{bar.address}}" target="_blank">
              <p class="roboto-font"><b>{{bar.name}}</b></p>
              <p class="roboto-font">{{bar.address}} {{bar.zip_code}}</p>
            </ion-item>
          </ion-list>
          </div>

        </ion-content>
      </ion-view>