<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.client728278" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>BeerMe</name>
  <description>
    Final Project For DBC
  </description>
  <author email="davidckim320@gmail.com" href="http://davidc.kim">
      Tina, Stephen, Sean, David
    </author>
  <content src="index.html"/>
  <access origin="*"/>

  <preference name="permissions" value="none"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="4000" />

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.GeoBroker" />
  </feature>
  <feature name="Geolocation">
    <param name="ios-package" value="CDVLocation" />
  </feature>
  <feature name="File">
    <param name="android-package" value="org.apache.cordova.FileUtils" />
  </feature>
  <feature name="FileTransfer">
    <param name="android-package" value="org.apache.cordova.FileTransfer" />
  </feature>


    <!-- Plugins can also be added here. -->
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.contacts" version="0.2.9" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />


    <!-- Define app splash screen for each platform. -->
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />




</widget>